<main class="main">
    <section class="first-section">
        <img src="./../../../assets/logo_png_agricolab_white_200x200.png" alt="Logo Agricolab">
        <h1>Agricolab</h1>
        <h3>Encontre produtores de agricultura familiar que estão próximos de você!</h3>
        <a [routerLink]="['mapa']" class="simple-button">Encontrar Produtores</a>
    </section>
    <section class="second-section">
        <h2>É um Agricultor?</h2>
        <p>Cadastre-se no Agricolab e aproveite um espaço para divulgar e vender seus produtos de agricultura familiar.</p>
    </section>
    <section class="third-section">
        <h2>Quer comprar de um Agricultor?</h2>
        <p>Para localizar agricultores utilize nosso mapa de busca, para encontrar não é necessário cadastro. <br><br>Caso deseje adquirir produtos dos agricultores, cadastre-se já e faça seus pedidos.</p>
    </section>
</main>